.homecardmain{
    transform: rotate(-3deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 0.5px solid rgba(0, 0, 0, 0.329);
    box-shadow: 0.5px 0.5px 20px 1px rgba(0, 0, 0, 0.267);
    background-color: white;
    border-radius: 20px;
    font-size: smaller;
    padding: 13px;
    width: 300px;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}
.homecardmainrotate{
    transform: rotate(3deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 0.5px solid rgba(0, 0, 0, 0.329);
    box-shadow: 0.5px 0.5px 20px 1px rgba(0, 0, 0, 0.267);
    background-color: white;
    border-radius: 20px;
    font-size: smaller;
    padding: 13px;
    width: 300px;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

.homecardmain:hover{
    transform: translateY(-15px);
    border: 0.5px solid rgb(4, 216, 4);
}

.homecardmainrotate:hover{
    transform: translateY(-15px);
    border: 0.5px solid rgb(4, 216, 4) ;
}