.stylenav{
    background-color: white;
    border-radius:20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.166);
    display: flex;
    justify-content: space-between;
    padding: 1%;
    padding-right: 1.5%;
    
    padding-left: 1.5%;
}
.image{
    border-radius: 10px;
    margin-right: 1rem;
}

.logo{
    display: flex;
}

.huh{
    padding-right: 6%;
}

.huh a{
    text-decoration: none;  
    color: black; 
}

.linkone{
    margin-right: 10%;
}

.linktwo{
    margin-left: 10%;
}